@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: muli;
}

.navbar {
    background-color: #111 !important;
}

.navbar-nav {
    margin-left: 70%;
}

.navbar-brand {
    font-size: 1.9rem !important;
    color: #565387 !important;
}

.navbar-a {
    font-size: 1.3rem;
    text-transform: capitalize;
}

.menu-active {
    font-weight: bold;
    border-bottom: 1px solid #565387;
}

.navbar-a:hover {
    color: #3498DB !important;
}

@media (max-width: 991px) {
    .navbar-brand {
        font-size: 1.5rem !important;
    }
    .menu-active {
        font-weight: bold;
        border-bottom: none;
    }
}

.col-1 {
    background-color: aqua;
    height: 50%;
    box-sizing: border-box;
    
}

.col-2 {
    background-color: blueviolet;
    height: 50%;
    margin-top: 5%;
}

.grid {
    
    margin-top: 30px;
}

.button {
    margin-top: 50px;
}

.cols {
    box-sizing: border-box;
    border-width: 1rem;
}

.form-container {
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}

/* .col-img {
    height: 50px;
    width: 50px;
} */

.btn {
    display: inline-block;
    border: 2px solid #3498DB;
    border-radius: 50px;
}